DATABASE_URL=postgresql://postgres:YOUR_DB_PASSWORD@db.dbghdhebpsgwuntrfcnc.supabase.co:5432/postgres?sslmode=require
SESSION_SECRET=dev-secret
PORT=8080
WEB_PORT=5174
VITE_SUPABASE_URL=https://dbghdhebpsgwuntrfcnc.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
